<div class="container   mt-3">
  <table class="mx-auto  text-light rounded">
    <tr>
      <td class="label bg-dark">Logradouro</td>
      <td class=" text-dark ">{{pegarEndereco.logradouro || 'Sem dados no momento'}}</td>
    </tr>
    <tr>
      <td class="label bg-dark">Complemento</td>
      <td class="text-dark ">{{pegarEndereco.complemento || 'Sem dados no momento'}}</td>
    </tr>
    <tr>
      <td class="label bg-dark">Bairro</td>
      <td class="text-dark ">{{pegarEndereco.bairro || 'Sem dados no momento'}}</td>
    </tr>
    <tr>
      <td class="label bg-dark">Localidade</td>
      <td class="text-dark ">{{pegarEndereco.localidade || 'Sem dados no momento'}}</td>
    </tr>
    <tr>
      <td class="label bg-dark">UF</td>
      <td class="text-dark " style="border-bottom: 0px;">{{pegarEndereco.uf || 'Sem dados no momento'}}</td>
    </tr>
  </table>

</div>

